<div class="form-group spacing @Class">
    <label class="form-label" for="@Id">@Label</label>
    <InputText class="form-control" id="@Id" @bind-Value="@BindedValue" @onblur="@UpdateBindedValue"/>
    @* <ValidationMessage For="() => BindedValue" /> *@
</div>